# Description:   BBP-WORKFLOW config to launch simulation campaign
# Author:        C. Pokorny, J. Isbister
# Date:          08/07/2021
# Last modified: 13/7/2022

[DEFAULT]
# Knowledge Graph project where data will be persisted
# Staging instance (sandbox project)
# kg-base: https://staging.nexus.ocp.bbp.epfl.ch/v1
# kg-org: bbp_test
# kg-proj: christoph
# OR Production instance of Nexus
kg-proj: somatosensorycortex

# Account under which the slurm allocation will run
account: proj83


[SimulationCampaign]
sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/06f6c255-9a0b-4c60-8a82-2c9a88dc3f9a
nodes: 200
time: 10:00:00
simulation-type: PlasticityCortexNrdmsPySim

# HOW TO RUN:
# Specify sim-config-url from Nexus!
# bbp-workflow launch --follow --config workflows/LaunchCampaign__GroupwiseConductanceDepolarisation__SSCx-O1.cfg bbp_workflow.simulation SimCampaign benchmark=True
# bbp-workflow launch --follow --config workflows/LaunchCampaign__GroupwiseConductanceDepolarisation__SSCx-O1.cfg bbp_workflow.simulation SimCampaign parallel-jobs=8
# bbp-workflow launch --follow --config workflows/LaunchCampaign__GroupwiseConductanceDepolarisation__SSCx-O1.cfg bbp_workflow.simulation SimCampaign parallel-jobs=8 sim-indices='1,3,6,8,11,13,16,18'


# HALT
# bbp-workflow launch --follow bbp_workflow.simulation SimCampaignHalt sim-config-url=https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/2b2320dc-bf6e-4186-a09b-76acc2645996
