# Description:   BBP-WORKFLOW config to launch simulation campaign
# Author:        C. Pokorny, J. Isbister
# Date:          08/07/2021
# Last modified: 13/7/2022

[DEFAULT]
# Knowledge Graph project where data will be persisted
# Staging instance (sandbox project)
# kg-base: https://staging.nexus.ocp.bbp.epfl.ch/v1
# kg-org: bbp_test
# kg-proj: christoph
# OR Production instance of Nexus
kg-proj: somatosensorycortex

# Account under which the slurm allocation will run
account: proj83


[SimulationCampaign]
sim-config-url:https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/9441b1ab-76cf-4665-aa96-19bc7fb3732a
#https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/30c35cd8-41e0-4264-aa75-915d8bb55936
#https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/dd7251b1-912d-4b4e-8f2e-5a8e079b193b 
#https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/141b8427-1474-412e-bd95-77a0169fcaf6 
#https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/91a3abc3-f047-4acb-9e55-ee395f8c1045
nodes: 300
time: 10:00:00
simulation-type: PlasticityCortexNrdmsPySim

# HOW TO RUN:
# Specify sim-config-url from Nexus!
# bbp-workflow launch --follow --config workflows/LaunchCampaign__GroupwiseConductanceDepolarisation__SSCx-O1.cfg bbp_workflow.simulation SimulationCampaign benchmark=True
# bbp-workflow launch --follow --config workflows/LaunchCampaign__GroupwiseConductanceDepolarisation__SSCx-O1.cfg bbp_workflow.simulation SimulationCampaign
# Check progress in Luigi Task Visualizer
