# Description:   BBP-WORKFLOW config to launch simulation campaign
# Author:        C. Pokorny, J. Isbister
# Date:          08/07/2021
# Last modified: 13/7/2022

[DEFAULT]
# Knowledge Graph project where data will be persisted
# Staging instance (sandbox project)
# kg-base: https://staging.nexus.ocp.bbp.epfl.ch/v1
# kg-org: bbp_test
# kg-proj: christoph
# OR Production instance of Nexus
kg-proj: somatosensorycortex

# Account under which the slurm allocation will run
account: proj83


[SimulationCampaign]
sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/96289da8-be01-42f8-95c1-db489763f1c0
nodes: 100
time: 5:00:00
simulation-type: PlasticityCortexNrdmsPySim

# HOW TO RUN:
# Specify sim-config-url from Nexus!
# bbp-workflow launch --follow --config workflows/LaunchCampaign__GroupwiseConductanceDepolarisation__SSCx-O1.cfg bbp_workflow.simulation SimCampaign benchmark=True
# bbp-workflow launch --follow --config workflows/LaunchCampaign__GroupwiseConductanceDepolarisation__SSCx-O1.cfg bbp_workflow.simulation SimCampaign parallel-jobs=8 sim-indices='0'

# HALT
# bbp-workflow launch --follow bbp_workflow.simulation SimCampaignHalt sim-config-url=https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/2b2320dc-bf6e-4186-a09b-76acc2645996
