[DEFAULT]
# author: steeve.laquitaine@epfl.ch
# modified from: Joseph Tharayil
# advice from: James Ibsister, Andras Ecker, Genrish Ivaska

# specify Knowledge Graph project where data will be persisted
# account: choose the proj account you have access to and want to write to
# kg-proj: this is related to nexus and is a fixed variable
account: proj83
kg-proj: somatosensorycortex 

# this permits to load python modules
module-archive: unstable
workers: 1

[BB5-WORKER]
# BB5 and SLURM job allocation related parameters
modules: py-bbp-workflow py-scikit-learn
exclusive: True 
mem: 0

# run with: $ bbp-workflow launch-bb5 --follow --config workflows/GenerateCampaign__GroupwiseConductanceDepolarisation__SSCx-O1_NoStim.cfg bbp_workflow.simulation GenerateSimulationCampaign
[GenerateSimulationCampaign]
#
# to iterate over many parameters, use "coords:", else use attrs for single valued-parameters
# depol_stdev_mean_ratio: ROU
# desired_connected_proportion_of_invivo_frs: PFR try 1 to increase firing rate
coords: {
        "depol_stdev_mean_ratio": [0.4], 
        "ca": [1.05],
        "desired_connected_proportion_of_invivo_frs": [0.3],
        "vpm_num_fibres": [80],
        "rotations": ["0.0",
                    "1.0",
                    "2.0",
                    "3.0",
                    "4.0",
                    "5.0",
                    "6.0",
                    "7.0",
                    "8.0",
                    "9.0",
                    "10.0",
                    "11.0",
                    "12.0",
                    "13.0",
                    "14.0",
                    "15.0",
                    "16.0",
                    "17.0",
                    "18.0",
                    "19.0",
                    "20.0",
                    "21.0",
                    "22.0",
                    "23.0",
                    "24.0",
                    "25.0",
                    "26.0",
                    "27.0",
                    "28.0",
                    "29.0",
                    "30.0",
                    "31.0",
                    "32.0",
                    "33.0",
                    "34.0",
                    "35.0",
                    "36.0",
                    "37.0",
                    "38.0",
                    "39.0",
                    "40.0",
                    "41.0",
                    "42.0",
                    "43.0",
                    "44.0",
                    "45.0",
                    "46.0",
                    "47.0",
                    "48.0",
                    "49.0",
                    "50.0",
                    "51.0",
                    "52.0",
                    "53.0",
                    "54.0",
                    "55.0",
                    "56.0",
                    "57.0",
                    "58.0",
                    "59.0",
                    "60.0",
                    "61.0",
                    "62.0",
                    "63.0",
                    "64.0",
                    "65.0",
                    "66.0",
                    "67.0",
                    "68.0",
                    "69.0",
                    "70.0",
                    "71.0"]
        }




name: 8_spikesorting_stimulus_test_neuropixels_13-4-24__8slc_100f_72r_250t_200ms_0
description: Testing a stimulus with a Neuropixels 1.0 probe (as used in Marques-Smith, 2020), sscx cylindar (cyl_hex0_0.045)
circuit-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/b6115a05-c1db-490a-858c-62e56e071733
# sim_duration previously 76500
attrs: {
        "path_prefix": "/gpfs/bbp.cscs.ch/project/proj83/scratch/home/isbister/post_physiology_2023/sim_data/campaigns/spikesorting_stimulus_tests/8_spikesorting_stimulus_test_neuropixels_13-4-24/8_spikesorting_stimulus_test_neuropixels_13-4-24__8slc_100f_72r_250t_200ms_0",       

        "blue_config_template": "BlueConfig__GroupwiseConductanceDepolarisation__SSCx-O1_NoStim.tmpl",
        "custom_user_targets": [
                "/gpfs/bbp.cscs.ch/project/proj83/entities/common_targets_S1.target",
                "/gpfs/bbp.cscs.ch/data/scratch/proj83/home/bolanos/circuits/Bio_M/20200805/hexgrid/hexes.target",
                "/gpfs/bbp.cscs.ch/project/proj83/home/bolanos/Bernstein2022/network/concentric_targets/cyls_hex0.target"
                ],
        "circuit_target": "cyl_hex0_0.045",
        "sim_duration": 51500,
        "start_delay": 1000, 
        "reconn_delay": 1000,
        "seed": 1,

        "ornstein_uhlenbeck_delay": 250,
        "in_vivo_reference_frs": {"L1I": 1.500, "L23E": 0.070, "L23I": 0.961, "L4E": 0.619, "L4I": 1.184, "L5E": 1.252, "L5I": 2.357, "L6E": 0.470, "L6I": 1.500},
        "data_for_unconnected_fit_name": "data_for_unconnected_fit_conductance_based_TRIANGLULAR-19-7-22.parquet",
        "data_for_connected_adjustment_fit_name": "concatented_mgfix_connection_data_15-11-22.parquet",
        "unconnected_connected_fr_adjustment_fit_method": "exponential",

        "user_target_path": "/gpfs/bbp.cscs.ch/project/proj96/circuits/plastic_v1/user.target",
        "stim_seed": 12345,
        # Parameters of the stimulus train (single flick here...)
        "stim_delay": 1500,
        "num_trials_per_stimulus": 250,
        "inter_stimulus_interval": 200,

        # Parameters of the lognormal VPM and POm spikes from Diamond et al. 1992 (and Sirio's fits of their histograms)
        "vpm_mu": 1.65,
        "pom_mu": 2.98,
        "vpm_sigma": 0.22,
        "pom_sigma": 0.32,
        "vpm_spike_rate": 1.0,
        "pom_spike_rate": 0.0,

        "number_of_pizza_slices": 8, 

        "vpm_proj_name": "Thalamocortical_input_VPM",
        "pom_proj_name": "Thalamocortical_input_POM",
        "supersample": 1,

        "data_for_vpm_input": "/gpfs/bbp.cscs.ch/home/teska/share/svoboda_vpm/svoboda-yu-meanPSTHnorm.parquet"

        }
param-processors: ["GenerateCampaign_ParamProcessors.gen_whisker_flick_stim_and_find_fibers_pizza_slice",
                    "GenerateCampaign_ParamProcessors.generate_user_target",
                   "GenerateCampaign_ParamProcessors.set_conductance_scalings_for_desired_frs"
                   # "GenerateCampaign_ParamProcessors.gen_whisker_flick_stim_and_find_fibers_all",
                   ]